.symbol__tweets-container {
  width: 90vw;
  max-width: 500px;
  margin: 1% auto 10%;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 2%;
  background-color: white;
}
.symbol__tweets-container h4,
h5,
h6 {
  margin: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.symbol__tweets-container h6 {
  font-size: 0.85rem;
  font-weight: lighter;
  text-align: right;
}
.tweet-count {
  margin-right: 5%;
}
.tweet {
  display: flex;
  border: 0.5px solid rgb(194, 194, 194);
  width: 100%;
  word-wrap: break-word;
  padding: 2% 1%;
  margin: 1% auto;
  border-radius: 8px;
}
.tweet__avatar-container {
  width: 15%;
  max-width: 60px;
  display: flex;
  justify-content: center;
}
.tweet__avatar-container img {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}
@media screen and (max-width: 380px) {
  .tweet__avatar-container img {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
}
.tweet__content {
  width: 85%;
  padding: 1% 2% 1% 3%;
}
.username {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.tweet__content--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 0.8rem;
  padding: 2px 5px 0 0;
  font-family: Arial, sans-serif;
}
.tweet__content--likes {
  display: flex;
  align-items: center;
}
.tweet__content--likes img {
  height: 16px;
  width: auto;
  margin: 0 2px 4px 0;
}
.tweet-page {
  margin-top: 30px;
}
.go-back-btn {
  color: white !important;
  background-color: lightseagreen !important;
}
.tweet-page__page-title {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 5%;
}
@media screen and (min-width: 1250px) {
  .tweets__container--outer {
    display: flex;
    justify-content: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background-color: black;  */
  }
  .symbol__tweets-container:nth-child(odd) {
    margin-left: 5%;
  }
}
